
#navRight {
    float: right;
}

.navComponent{
    text-decoration: none;
}

ul{
    background-color: #246C64;
    overflow: hidden;
    padding: 0px 32px 0px 40px;
    height: 66px;
    width: 100%;
    min-width: 320px;
}
li {
    text-decoration-style: none;
    display: inline-block;
    padding: 0px 4px 0px 0px;
    line-height: 60px;
    color: #fff;
}

a{
    text-decoration-line: none;
    color:#00C6B1;
    padding: 0px;
    cursor: pointer;
    padding: 0px 15px 0px 0px;
}

.logo {
    display: block;
    color: #00C6B1;
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
    padding: 0px 15px 0px 0px;
}

fa-icon {
    color: #fff;
    position: relative;
    cursor: pointer;
    padding: 0px 15px 10px 10px;
}

input{
    background-color:#246C64;
    outline: 0px;
    color: #fff;
    padding: 0px 15px 0px 0px;
}

img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    vertical-align: middle;
    background-color: #246C64;
    padding-left: 0px;
    padding-right: 0px;
    border-style: none;
}

.badge{
    position: relative;
    top: -10px;
    right: 15px;
    border-radius: 100%;
    background-color: #1E2625;
    padding: 0px 4px;
}

.dropdownUp {
    display: block;
    position: absolute;
    top: 85px;
    right: 30px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9 ;
    border-radius: 16px;
    border: 1px solid #f9f9f9;
}

.dropdownUp a{
    display: block;
    line-height: 1.42857143;
    white-space: nowrap;
    color:#1E2625;
    padding: 3px 40px ;
    clear: both;
    background-color: #f9f9f9;
}

.dropdownDown{
    display: none;
}

.colorHoverBars{
    font-size: 23px;
}
.navComponent ul li fa-icon:hover.colorHoverBars {
    color: darkgoldenrod;
}

