/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    list-style-type: none;
    white-space: normal;
    text-decoration: none;
    border: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

